<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>B</em>rainy</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top">Home</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">About Us</a></li>
                    <li><a href="#" class="scroll-link" data-id="portfolio">Portfolio</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us">Contact Us</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>SOLOLearn</em> <span>Time to learn</span> for solution</h2>
            <p> Please tell your friends about us. Thank you.</p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Let's Start</a>
            </div>
        </div>
    </div>
</div>

<!--/.about section -->

<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>Numerical </h4>
                    <div class="line-dec"></div>
                    <p>Numerical quantities foucs on expected value,graphical summaries on unexpected value</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>vocabulary</h4>
                    <div class="line-dec"></div>
                    <p>Your inability to see other possibilities and your lack of vocabulary are your brain's limits, not the universe's.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>Placement tasks</h4>
                    <div class="line-dec"></div>
                    <p>“Nothing we do is more important than hiring and developing people. At the end of the day, you bet on people, not on strategies.”</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>Challenge</h4>
                    <div class="line-dec"></div>
                    <p>“Life is about accepting the challenges along the way, choosing to keep moving forward, and savoring the journey.”</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of about-->

<!--portfolio section-->

<section id="portfolio">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <h4>Our Gallery</h4>
                        <div class="line-dec"></div>
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>Show All</span></li>
                                <li class="filter" data-filter="learn"><span>Learn</span></li>
                                <li class="filter" data-filter="pratice"><span>Pratice</span></li>
                                <li class="filter" data-filter="challenge"><span>Challenge</span></li>
                                <li class="filter" data-filter="achievement"><span>Achievement</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 project-item mix nature">
                                  <div class="thumb">
                                        <div class="image">
                                            <img [src]=image1 width="20px">
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix animation">
                                  <div class="thumb">
                                    <div class="image">
                                           <img src="assets/img/imgportfolio_item_02.jpg">
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <img src="assets/img/imgportfolio_item_03.jpg">
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic nature">
                                    <div class="thumb">
                                        <div class="image">
                                        <img src="assets/img/imgportfolio_item_04.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <img src="assets/img/imgportfolio_item_05.jpg">
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic animation">
                                    <div class="thumb">
                                        <div class="image">
                                            <img src="assets/img/imgportfolio_item_06.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>

<!--end of portfolio-->

<!--feedback section-->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>"As a leader, it is important to not just see your own success, but focus on the success of others.”</p>
                            <h4>Sundar Pichai</h4>
                            <span>Google CEO</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>"Let your joy be in your journey — not in some distant goal.”</p>
                            <h4>Tim Cook</h4>
                            <span>Apple CEO</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Success is a lousy teacher. It seduces smart people into thinking they can't lose. ”</p>
                            <h4>Bill Gates</h4>
                            <span>Microsoft  Founder</span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!--end of feedback-->

    <!--footer section-->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a class="logo-ft scroll-top" href="#"><em>B</em>rainy</a>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-12">
                    <div class="contact-info">
                        <h4>More Info</h4>
                        <ul>
                            <li><em>Phone</em>: 9876543210</li>
                            <li><em>Email</em>: smaple@gamil.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="connect-us">
                        <h4>Get Social with us</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--end of footer-->



